{% extends 'base.html' %} {% block container %}
<div class="card">
  <div class="card-header">
    <i class="fas fa-box-open"></i> Compras / Boletas
  </div>
  <div class="card-body">
    <div class="card-title">
      <h3 class="text-center title-2">
        <i class="fas fa-sheet fa-2x" style="color: #e895ab"></i> Administrar
        Boletas
      </h3>
      {% csrf_token %}
    </div>
    <table id="boletas" class="table" style="width: 100%">
      <thead>
        <tr>
          <th>#</th>
          <th>Fecha</th>
          <th>Factura</th>
          <th>Proveedor</th>
          <th>Sub Total</th>
          <th>Impuesto</th>
          <th>Total</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tfoot>
        <tr></tr>
      </tfoot>
    </table>
  </div>
  <div class="card-body card-block">
    <button
      class="btn btn-success"
      id="nueva-boleta"
    >
      <i class="fas fa-plus"></i> Nueva Boleta
    </button>
  </div>
</div>
<script type="text/javascript">
  document.getElementById("nueva-boleta").onclick = function () {
      location.href = "{% url 'compras:boleta_nueva' %}";
  };
</script>
<script>
  $(document).ready(function () {
    $("#boletas").DataTable({
      ajax: {
        url: "/compras/boletas/data_table/",
        type: "GET",
        data: "",
        dataSrc: "",
      },
      columns: [
        { data: "id" },
        { data: "fecha_compra" },
        { data: "facturado" },
        { data: "proveedor__nombre" },
        { data: "sub_total" },
        { data: "impuesto_total" },
        { data: "total" },
      ],
      columnDefs: [
        {
          targets: [2],
          class: "text-center",
          orderable: false,
          render: function (data, type, row) {
            let icon = "<i class='fa fa-times' aria-hidden='true'></i>";
            console.log(row["facturado"]);
            if (row["facturado"]) {
              icon = "<i class='fa fa-check' aria-hidden='true'></i>";
            }
            return icon;
          },
        },
        {
          targets: [7],
          class: "text-center",
          orderable: false,
          render: function (data, type, row) {
            let editLink = "<a href='/compras/proveedores/" + row["id"] + "/'>";
            editLink += "<button type='button' class='btn btn-warning'>";
            editLink += "<i class='fas fa-edit'></i></button></a>";
            let deleteLink =
              "<button onclick='delete_provider(" + row["id"] + ")' ";
            deleteLink += "type='button' class='btn btn-danger'>";
            deleteLink += "<i class='fas fa-trash-alt'></i></button>";
            // return editLink + deleteLink;
            return "";
          },
        },
      ],
    });
  });

  function delete_provider(pk) {
    console.log(pk);
    let csrfmiddlewaretoken = document.getElementsByName(
      "csrfmiddlewaretoken"
    )[0].value;
    $.confirm({
      theme: "modern",
      title: "Eliminar proveedor",
      icon: "fa fa-info",
      content: "Desea eliminar al proveedor seleccionado?",
      columnClass: "small",
      typeAnimated: true,
      cancelButtonClass: "btn-primary",
      draggable: true,
      dragWindowBorder: false,
      buttons: {
        info: {
          text: "Si",
          btnClass: "btn-primary",
          action: function () {
            $.ajax({
              url: "/compras/proveedores/eliminar",
              data: {
                id: pk,
                csrfmiddlewaretoken: csrfmiddlewaretoken,
              },
              method: "POST",
              dataType: "json",
              success: function (request) {
                console.log(request);
                if (!request.hasOwnProperty("error")) {
                  Swal.fire(
                    "Proveedor eliminado sin problemas",
                    "Pulsa el boton para refrescar",
                    "success"
                  ).then((result) => {
                    window.location.reload();
                    return false;
                  });
                } else {
                  Swal.fire(
                    "El proveedor no se pudo eliminar",
                    request.error,
                    "error"
                  );
                  return false;
                }
              },
              error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown + " " + textStatus);
              },
            });
          },
        },
        danger: {
          text: "No",
          btnClass: "btn-red",
          action: function () {},
        },
      },
    });
  }
</script>
{% endblock %}
