{% extends 'base.html' %}

{% block container %} 


    <div class="card">
        <div class="card-header"> <i class="fas fa-home"></i> Citas | Calendario </div>
        <div class="card-body">
            <div class="card-title">
                <h3 class="text-center title-2"><i class="fas fa-calendar fa-2x" style="color: #E895AB"></i> Citas Agendadas </h3>
            </div>
        </div>    

        <div id="fullCalModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="modalTitle" class="modal-title"></h4>
                    </div>
                    <div id="modalBody" class="modal-body"></div>
                        <h4 id="modalBody" class="modal-title"></h4>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="calendar"></div>
    
            <script>
            
            $( document ).ready(function() {
    
                $(function () {
    
                    /* initialize the external events
                    -----------------------------------------------------------------*/
                    function ini_events(ele) {
                    ele.each(function () {
                
                        // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                        // it doesn't need to have a start or end
                        var eventObject = {
                        title: $.trim($(this).text()) // use the element's text as the event title
                        }
                
                        // store the Event Object in the DOM element so we can get to it later
                        $(this).data('eventObject', eventObject)
                
                        // make the event draggable using jQuery UI
                        $(this).draggable({
                        zIndex        : 1070,
                        revert        : true, // will cause the event to go back to its
                        revertDuration: 0  //  original position after the drag
                        })
                
                    })
                    }
        
                    /* initialize the calendar
                    -----------------------------------------------------------------*/
                    //Date for the calendar events (dummy data)
                    var date = new Date()
                    var d    = date.getDate(),
                        m    = date.getMonth(),
                        y    = date.getFullYear()
                
                    var Calendar = FullCalendar.Calendar;
                    var Draggable = FullCalendarInteraction.Draggable;
                
        
                    var checkbox = document.getElementById('drop-remove');
                    var calendarEl = document.getElementById('calendar');
                
                    // initialize the external events
                    // -----------------------------------------------------------------
                    
                  
                    var calendar = new Calendar(calendarEl, {
                    plugins: [ 'bootstrap', 'interaction', 'dayGrid', 'timeGrid' ],
                    header    : {
                        left  : 'prev,next today',
                        center: 'title',
                        right : 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    'themeSystem': 'bootstrap',
                    locale: 'es',
    
                  
                    events    : [
    
                        {% for event in events %}
                            {
                                "title": "{{ event.cliente}}",
                                "description": "<b><p>Servicios:</b> {{ event.observaciones}}<p/><b><p>Profesional:</b> {{event.empleado.nombre}}</p>",
                                "start": '{{ event.fecha_agendada|date:"Y-m-d" }}',
                                "id": '{{ event.id }}',
                            },
    
                        {% endfor %}
    
                    ],
                    
                    eventClick :  function(event, jsEvent, view) {
                        $('#modalTitle').html(event.event.title);
                        $('#modalBody').html(event.event.extendedProps.description);
                        $('#fullCalModal').modal();
                        return false;
                    },
                    editable  : true,
                    droppable : true, // this allows things to be dropped onto the calendar !!!
                    drop      : function(info) {
                        // is the "remove after drop" checkbox checked?
                        if (checkbox.checked) {
                        // if so, remove the element from the "Draggable Events" list
                        info.draggedEl.parentNode.removeChild(info.draggedEl);
                        }
                    }    
                    });
                
                    calendar.render();
                    // $('#calendar').fullCalendar()
                
                    /* ADDING EVENTS */
                    var currColor = '#3c8dbc' //Red by default
                    //Color chooser button
                    var colorChooser = $('#color-chooser-btn')
                    $('#color-chooser > li > a').click(function (e) {
                    e.preventDefault()
                    //Save color
                    currColor = $(this).css('color')
                    //Add color effect to button
                    $('#add-new-event').css({
                        'background-color': currColor,
                        'border-color'    : currColor
                    })
                    })
                    $('#add-new-event').click(function (e) {
                    e.preventDefault()
                    //Get value and make sure it is not null
                    var val = $('#new-event').val()
                    if (val.length == 0) {
                        return
                    }
            
                
                    //Add draggable funtionality
                    ini_events(event)
                
                    //Remove event from text input
                    $('#new-event').val('')
                    })
                })   
            });

        </script>

    </div>


{% endblock %}