{% extends 'base.html' %}

{% block title %}

    <title> Clientes | Listado </title>

{% endblock %}

{% block container %} 


<div class="card">
    <div class="card-header"><i class="fas fa-user-tie"></i> Clientes / Listado de Clientes </div>
    <div class="card-body">

        <table id="list" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cliente</th>
                    <th>Documento</th>
                    <th>Teléfono</th>
                    <th>E-mail</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                    </tr>
                </thead>

             <tbody>
                    {% for clientes in object_list %}
                        <tr>
                            <td>{{ clientes.id }}</td>
                            <td>{{ clientes.nombre }}</td>
                            <td>{{ clientes.documento }}</td>
                            <td>{{ clientes.telefono }}</td>
                            <td>{{ clientes.email}}</td>
                            <td>{{ clientes.direccion }}</td>
                            <td>
                                <a href="{% url 'clientes:cliente_update' clientes.id %}">
                                    <button  type="button" class="btn btn-warning">
                                    <i class="fas fa-edit"></i>
                                    </button>
                                </a>
                                
                                
                                    <button onclick="submit_with_ajax({{ clientes.id }})" type="button" class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                
                               
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
         </table>
    </div>
    <div class="card-body card-block">
    
    <a href="{% url 'clientes:nuevo_cliente' %}">
        <button class="btn btn-success">
            <i class="fas fa-plus"></i> Nuevo Cliente
        </button>
    </a>

    </div>
</div>



{% endblock %}

{% block scripts %} 

    <script type="text/javascript">

        $(document).ready(function() {
            $('#list').DataTable({
                responsive: true,
                autoWidth: false,
                ordering: false
            });
        } );

        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = $(this).serializeArray();
            submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parameters, function () {
                location.href = '{{ listado_clientes }}';
            });
        });

    </script>

{% endblock %}